.title#banner-pic {
    background-image: url('../pics/header_pic_about.jpg');
}

.nav#arrow-about {
    left:80%;
    border-top: 40px solid #fed09e;
}
#about-main-image {
    margin: 0 130px 10px 0;
    background-image: url('../pics/1_about-hd.jpg');
}
#about-sub-image-1 {
    margin: 100px 200px 10px 0;
    background-image: url('../pics/opera_1.jpg');
}
#about-sub-image-2 {
    margin: 10px 200px 10px 0;
    background-image: url('../pics/opera_2.jpg');
}
#about-sub-image-3 {
    margin: 10px 200px 10px 0;
    background-image: url('../pics/opera_3.jpg');
}

@media (max-width: 569px) {
    #about-main-image {
        margin: 0 0 10px 0;
    }
    #about-sub-image-1 {
        margin: 0;
    }
    #about-sub-image-2 {
        margin: 0;
    }
    #about-sub-image-3 {
        margin: 0 0 20px 0;
    }
}

@media  only screen and (-webkit-min-device-pixel-ratio: 1.5),  
only screen and (   min--moz-device-pixel-ratio: 1.5),  
only screen and (     -o-min-device-pixel-ratio: 3/2),  
only screen and (        min-device-pixel-ratio: 1.5),  
only screen and (min-resolution: 192dpi) {  
    #about-main-image {
        background-image: url('../pics/1_about-r.jpg');  
    }  
    .nav#banner-pic {
        background-image: url('../pics/header_pic_about-hd.jpg');
    }
}