.nav#banner-pic {
    background-image: url('../pics/header_pic_about.jpg');
}
.nav#arrow {
    background-image: url('../pics/arrow_contact.gif');
    background-position: 448px center;
}
#contact-main-image {
    margin: 0 130px 10px 0;
    background-image: url('../pics/1_contact.jpg');
}
@media (max-width: 321px){
    #shows-main-image {
        margin: 0 0 10px 0;
    }
}

@media  only screen and (min-device-pixel-ratio: 2),   
only screen and (min-resolution: 192dpi) {  
    background-image: url('../pics/1_contact-hd.jpg');
}