.nav#banner-pic {
	height: 127px;
	width: 650px;
	background-image: url('../pics/header_pic_about.jpg');
}
.nav#arrow {
	background-image: url('../pics/arrow_contact.gif');
	margin: 0 148px 0 448px;
}
#contact-main-image {
	margin: 0 130px 10px 0;
	background-image: url('../pics/1_contact.jpg');
}
@media (max-width: 321px){
    .nav#banner-pic {
        height: 62.5px;
        width: 320px;
        background-size: 100%;
    }
    #shows-main-image {
        margin: 0 0 10px 0;
    }
}