.nav#banner-pic {
    height: 127px;
    width: 650px;
    background-image: url('../pics/header_pic_gallery.jpg');
}
.nav#arrow-gallery {
    background-image: url('../pics/arrow_gallery.gif');
    margin: 0 243px 0 352px;
}
#gallery-main-image {
    margin: 0 130px 10px 0;
    background-image: url('../pics/1_gallery.jpg');
}

button {
    border: 0;
    padding: 0;
    background: #ffffff;
    cursor: pointer;
    display: inline-block;
    margin: 0 -4px -4px 0;
    border-radius: 0;
    outline: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
button.md-close {	
    position: fixed;
    top: 50%;
    left: 0;
    padding: 4 8px 6px 8px;
    background: #faa74a;
    color: #ffffff;
    font-family: Courier New, Courier, monospace;
    font-size: 1em;
    letter-spacing: 1px;
}

.landscape {
    max-width: 2000px;
}

.portrait {
    max-width: 700px;
}

.gallery {
    display: inline;
    background-size: 100%;
}

.gallery.grid {
    position: relative;
    float: left;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    font-size: 0em;
}
.gallery.grid.mid {
    margin-right: 20px;
}
.gallery-wrapper {
    display: block;
    position: relative;
    float: left;
    width: 380px;
    margin-bottom: 10px;
}
.gallery-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.gallery-pop {
    min-height: 1000px;
    margin: 10px auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0;
}

#gallery-pop-1 {
    background-image: url('../pics/gallery/1.jpg');
}
#gallery-pop-2 {
    background-image: url('../pics/gallery/2.jpg');
}
#gallery-pop-3 {
    background-image: url('../pics/gallery/3.jpg');
}
#gallery-pop-4 {
    background-image: url('../pics/gallery/4.jpg');
}
#gallery-pop-5 {
    background-image: url('../pics/gallery/5.jpg');
}
#gallery-pop-6 {
    background-image: url('../pics/gallery/6.jpg');
}
#gallery-pop-7 {
    background-image: url('../pics/gallery/7.jpg');
}
#gallery-pop-8 {
    background-image: url('../pics/gallery/29_cry08.jpg');
}
#gallery-pop-9 {
    background-image: url('../pics/gallery/30_cry08.jpg');
}
#gallery-pop-10 {
    background-image: url('../pics/gallery/31_cry08.jpg');
}
#gallery-pop-11 {
    background-image: url('../pics/gallery/9.jpg');
}
#gallery-pop-12 {
    background-image: url('../pics/gallery/10.jpg');
}
#gallery-pop-13 {
    background-image: url('../pics/gallery/11.jpg');
}
#gallery-pop-14 {
    background-image: url('../pics/gallery/12.jpg');
}
#gallery-pop-15 {
    background-image: url('../pics/gallery/13.jpg');
}
#gallery-pop-16 {
    background-image: url('../pics/gallery/14.jpg');
}
#gallery-pop-17 {
    background-image: url('../pics/gallery/15.jpg');
}
#gallery-pop-18 {
    background-image: url('../pics/gallery/16.jpg');
}
#gallery-pop-19 {
    background-image: url('../pics/gallery/17.jpg');
}
#gallery-pop-20 {
    background-image: url('../pics/gallery/18.jpg');
}
#gallery-pop-21 {
    background-image: url('../pics/gallery/19.jpg');
}
#gallery-pop-22 {
    background-image: url('../pics/gallery/20.jpg');
}
#gallery-pop-23 {
    background-image: url('../pics/gallery/21.jpg');
}
#gallery-pop-24 {
    background-image: url('../pics/gallery/22.jpg');
}
#gallery-pop-25 {
    background-image: url('../pics/gallery/23.jpg');
}
#gallery-pop-26 {
    background-image: url('../pics/gallery/24.jpg');
}
#gallery-pop-27 {
    background-image: url('../pics/gallery/25.jpg');
}
#gallery-pop-28 {
    background-image: url('../pics/gallery/26.jpg');
}
#gallery-pop-29 {
    background-image: url('../pics/gallery/27.jpg');
}
#gallery-pop-30 {
    background-image: url('../pics/gallery/28.jpg');
}

#gallery-grid-1 {
    background-image: url('../pics/gallery/t1.jpg');
}
#gallery-grid-2 {
    background-image: url('../pics/gallery/t2.jpg');
}
#gallery-grid-3 {
    background-image: url('../pics/gallery/t3.jpg');
}
#gallery-grid-4 {
    background-image: url('../pics/gallery/t4.jpg');
}
#gallery-grid-5 {
    background-image: url('../pics/gallery/t5.jpg');
}
#gallery-grid-6 {
    background-image: url('../pics/gallery/t6.jpg');
}
#gallery-grid-7 {
    background-image: url('../pics/gallery/t7.jpg');
}
#gallery-grid-8 {
    background-image: url('../pics/gallery/t29_cry08.gif');
}
#gallery-grid-9 {
    background-image: url('../pics/gallery/t30_cry08.gif');
}
#gallery-grid-10 {
    background-image: url('../pics/gallery/t31_cry08.gif');
}
#gallery-grid-11 {
    background-image: url('../pics/gallery/t9.jpg');
}
#gallery-grid-12 {
    background-image: url('../pics/gallery/t10.jpg');
}
#gallery-grid-13 {
    background-image: url('../pics/gallery/t11.jpg');
}
#gallery-grid-14 {
    background-image: url('../pics/gallery/t12.jpg');
}
#gallery-grid-15 {
    background-image: url('../pics/gallery/t13.jpg');
}
#gallery-grid-16 {
    background-image: url('../pics/gallery/t14.jpg');
}
#gallery-grid-17 {
    background-image: url('../pics/gallery/t15.jpg');
}
#gallery-grid-18 {
    background-image: url('../pics/gallery/t16.jpg');
}
#gallery-grid-19 {
    background-image: url('../pics/gallery/t17.jpg');
}
#gallery-grid-20 {
    background-image: url('../pics/gallery/t18.jpg');
}
#gallery-grid-21 {
    background-image: url('../pics/gallery/t19.jpg');
}
#gallery-grid-22 {
    background-image: url('../pics/gallery/t20.jpg');
}
#gallery-grid-23 {
    background-image: url('../pics/gallery/t21.jpg');
}
#gallery-grid-24 {
    background-image: url('../pics/gallery/t22.jpg');
}
#gallery-grid-25 {
    background-image: url('../pics/gallery/t23.jpg');
}
#gallery-grid-26 {
    background-image: url('../pics/gallery/t24.jpg');
}
#gallery-grid-27 {
    background-image: url('../pics/gallery/t25.jpg');
}
#gallery-grid-28 {
    background-image: url('../pics/gallery/t26.jpg');
}
#gallery-grid-29 {
    background-image: url('../pics/gallery/t27.jpg');
}
#gallery-grid-30 {
    background-image: url('../pics/gallery/t28.jpg');
}

@media (max-width: 321px) {
    .nav#banner-pic {
        height: 62.5px;
        width: 320px;
        background-size: 100%;
    }
    .nav#banner-title {
        height: 42.8px;
        width: 320px;
        background-size: 100%;
    }
    #gallery-main-image {
        margin: 0 0 10px 0;
    }
    .gallery-grid {
        width: 70px;
        height: 70px;
        margin-bottom: 10px;
    }
    .gallery-grid-mid {
        margin: 0 5px;
    }
}