.nav#banner-pic {
    background-image: url('../pics/header_pic_gallery.jpg');
}

.nav#arrow-gallery {
    background-image: url('../pics/arrow_gallery.png');
    background-position: 352px center;
}

#gallery-main-image {
    margin: 0 130px 10px 0;
    background-image: url('../pics/1_gallery.jpg');
}

.gallery {
    display: inline;
    background-size: 100%;
}

.gallery.grid {
    position: relative;
    float: left;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    font-size: 0em;
}

.gallery.grid:hover {
    opacity: 0.5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gallery.grid.mid {
    margin-right: 20px;
}

.gallery-wrapper {
    display: block;
    position: relative;
    float: left;
    width: 380px;
    margin-bottom: 10px;
}

.gallery-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.gallImg {
    display: block;
    margin: inherit;
    padding: inherit;
    height: 25px;
    width: 25px;
}

.port {
    max-width: 768px;
}

.land {
    max-height: 1024px;
}

a.gallHD {
    position: absolute;
    display: block;
    font-size: 0.6em;
    text-transform: uppercase;
}

#ga2 {
    max-height: 681px;
    max-width: 1024px;
}

#a1 {
    background-image: url('../pics/gallery/t1.jpg');
}
#a2 {
    background-image: url('../pics/gallery/t2.jpg');
}
#a3 {
    background-image: url('../pics/gallery/t3.jpg');
}
#a4 {
    background-image: url('../pics/gallery/t4.jpg');
}
#a5 {
    background-image: url('../pics/gallery/t5.jpg');
}
#a6 {
    background-image: url('../pics/gallery/t6.jpg');
}
#a7 {
    background-image: url('../pics/gallery/t7.jpg');
}
#a8 {
    background-image: url('../pics/gallery/t8.jpg');
}
#acry29 {
    background-image: url('../pics/gallery/t29_cry08.gif');
}
#acry30 {
    background-image: url('../pics/gallery/t30_cry08.gif');
}
#acry31 {
    background-image: url('../pics/gallery/t31_cry08.gif');
}
#a9 {
    background-image: url('../pics/gallery/t9.jpg');
}
#a10 {
    background-image: url('../pics/gallery/t10.jpg');
}
#a11 {
    background-image: url('../pics/gallery/t11.jpg');
}
#a12 {
    background-image: url('../pics/gallery/t12.jpg');
}
#a13 {
    background-image: url('../pics/gallery/t13.jpg');
}
#a14 {
    background-image: url('../pics/gallery/t14.jpg');
}
#a15 {
    background-image: url('../pics/gallery/t15.jpg');
}
#a16 {
    background-image: url('../pics/gallery/t16.jpg');
}
#a17 {
    background-image: url('../pics/gallery/t17.jpg');
}
#a18 {
    background-image: url('../pics/gallery/t18.jpg');
}
#a19 {
    background-image: url('../pics/gallery/t19.jpg');
}
#a20 {
    background-image: url('../pics/gallery/t20.jpg');
}
#a21 {
    background-image: url('../pics/gallery/t21.jpg');
}
#a22 {
    background-image: url('../pics/gallery/t22.jpg');
}
#a23 {
    background-image: url('../pics/gallery/t23.jpg');
}
#a24 {
    background-image: url('../pics/gallery/t24.jpg');
}
#a25 {
    background-image: url('../pics/gallery/t25.jpg');
}
#a26 {
    background-image: url('../pics/gallery/t26.jpg');
}
#a27 {
    background-image: url('../pics/gallery/t27.jpg');
}
#a28 {
    background-image: url('../pics/gallery/t28.jpg');
}

@media (max-width: 321px) {
    #gallery-main-image {
        margin: 0 0 10px 0;
        background-image: url('../pics/1_gallery-hd.jpg');
    }
    .gallery-wrapper {
        width: 320px;
    }
    .gallery.grid {
        width: 69px;
        height: 69px;
        margin-bottom: 8px;
    }
    .gallery.grid.mid {
        margin-right: 8px;
    }
}

@media  only screen and (-webkit-min-device-pixel-ratio: 1.5),  
only screen and (   min--moz-device-pixel-ratio: 1.5),  
only screen and (     -o-min-device-pixel-ratio: 3/2),  
only screen and (        min-device-pixel-ratio: 1.5),  
only screen and (min-resolution: 192dpi) {  
    #gallery-main-image {
        background-image: url('../pics/1_gallery-r.jpg');  
    }  
    .nav#banner-pic {
        background-image: url('../pics/header_pic_gallery-hd.jpg');
    }
    .nav#arrow-gallery {
        background-image: url('../pics/arrow_gallery-hd.png');
    }
}