.nav#banner-pic {
    height: 263px;
    width: 650px;
    background-image: url('../pics/entry_header_pic.jpg');
}
.nav#banner-title {
    height: 107px;
    width: 650px;
    background-image: url('../pics/entry_header.gif');
}
#index-nav-wrap {
    height: 399px;  
}
@media (max-width: 321px) {
    .nav#banner-pic {
        height: 20%;
        min-height: 100px;
        width: 100%;
        background-size: cover;
        background-position: top left;
        margin: 0;
    }
    .nav#banner-title {
        height: 10%;
        min-height: 52px;
        width: 100%;
        background-size: cover;
        background-position: bottom left;
    }
    #index-nav-wrap {
        height: 356.2px;  
    }

}