.title#banner-pic {
    height: 263px;
    width: 650px;
    background-image: url('../pics/index_header_pic-shows.jpg');
    background-size: 100%;
    z-index: 1;
    margin: 0;
    font-size: 0em;
}
.title#banner {
    height: 107px;
    width: 650px;
    background-image: url('../pics/header_index.gif');
}
#index-nav-wrap {
    height: 399px;  
}
#footer-index {
    position: absolute;
    bottom: 10px;
    z-index: -99;
}

.slide
{
    position: relative;   
    display:none;
    width: 650px;
    height: 263px;
    z-index: 999;
    font-size: 0em;
    background-size: cover;
    background-position: top center;
}
div#slide1 {
    background-image:url('../pics/index_header_pic-shows.jpg');
}
div#slide2 {
    background-image:url('../pics/index_header_pic-about.jpg');
}
div#slide3 {
    background-image:url('../pics/index_header_pic-gallery.jpg');
}
div#slide4 {
    background-image:url('../pics/index_header_pic-contact.jpg');
}
div#slide5 {
    background-image:url('../pics/index_header_pic-music.jpg');
}
div#slide6 {
    background-image:url('../pics/index_header_pic-walk.jpg');
}

@media (max-width: 650px) {
    .title#banner-pic, .nav.slide {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: top center;
        margin: 0;
    }
    .title#banner-pic {
        height: 30%;
        min-height: 250px;
    }
    #slideshow {
        height: 30%;
        min-height: 250px;
    }
    .title#banner {
        height: 10%;
        min-height: 52px;
        width: 100%;
        background-size: cover;
        background-position: bottom left;
    }
    #index-nav-wrap {
        height: 356.2px;  
    }

}

@media 
only screen and (-webkit-min-device-pixel-ratio: 1.5),  
only screen and (min--moz-device-pixel-ratio: 1.5),  
only screen and (-o-min-device-pixel-ratio: 3/2),  
only screen and (min-device-pixel-ratio: 1.5),  
only screen and (min-resolution: 192dpi) {  
    .title#banner-pic {
        background-image: url('../pics/index_header_pic-shows-hd.jpg');
    }
    div#slide1 {
        background-image:url('../pics/index_header_pic-shows-hd.jpg');
    }
    div#slide2 {
        background-image:url('../pics/index_header_pic-about-hd.jpg');
    }
    div#slide3 {
        background-image:url('../pics/index_header_pic-gallery-hd.jpg');
    }
    div#slide4 {
        background-image:url('../pics/index_header_pic-contact-hd.jpg');
    }
    div#slide5 {
        background-image:url('../pics/index_header_pic-music-hd.jpg');
    }
    div#slide6 {
        background-image:url('../pics/index_header_pic-walk-hd.jpg');
    }
}