.nav#banner-pic {
    background-image: url('../pics/header_pic_music.jpg');
}

.nav#arrow-music {
    background-image: url('../pics/arrow_music.gif');
    background-position: 34px center;
}
#music-main-image {
    margin: 0 130px 10px 0;
    background-image: url('../pics/1_music.jpg');
}
@media (max-width: 321px){
    #about-main-image {
        margin: 0 0 10px 0;
    }
    #note {
        margin: 0 10px 0 10px
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    background-image: url('../pics/1_music-hd.jpg');
}