.nav {
    position: relative;
    display: block;
    float: left;
    font-size: 0em;
    line-height: 0em;
    background-position: center;
    background-repeat: no-repeat;
    -moz-transition: background-image 0.5s ease;
    -webkit-transition: background-image 0.5s ease;
    transition: background-image 0.5s ease;
    -moz-transition: width 0.1s ease;
    -webkit-transition: width 0.1s ease;
    transition: width 0.1s ease;
}
.nav:hover {
    -moz-transition: background-image 0.5s ease;
    -webkit-transition: background-image 0.5s ease;
    transition: background-image 0.5s ease;
}
a.nav-button {
    width: 100%;
    height: 100%;
    display: block;
}
.nav.banner-pic {
    height: 127px;
    width: 650px;
}
.nav#banner-title {
    height: 87px;
    width: 650px;
    background-image: url('../pics/header.gif');
}
.nav#nav_music {
    height: 29px;
    width: 88px;
    background-image: url('../pics/entry_music.gif');
    background-color: #f99d33;
}
.nav:hover#nav_music {
    background-image: url('../pics/entry_music_on.gif');
}
.nav#nav_shows {
    height: 29px;
    width: 87px;
    background-image: url('../pics/entry_shows.gif');
    background-color: #faa74a;
}
.nav:hover#nav_shows {
    background-image: url('../pics/entry_shows_on.gif');
}
.nav#nav_walks {
    height: 29px;
    width: 143px;
    background-image: url('../pics/entry_walk.gif');
    background-color: #fbb161;
}
.nav:hover#nav_walks {
    background-image: url('../pics/entry_walk_on.gif');
}
.nav#nav_gallery {
    height: 29px;
    width: 89px;
    background-image: url('../pics/entry_gallery.gif');
    background-color: #fcbb75;
}
.nav:hover#nav_gallery {
    background-image: url('../pics/entry_gallery_on.gif');
}
.nav#nav_contact {
    height: 29px;
    width: 96px;
    background-image: url('../pics/entry_contact.gif');
    background-color: #fdc589;
}
.nav:hover#nav_contact {
    background-image: url('../pics/entry_contact_on.gif');
}
.nav#nav_about {
    height: 29px;
    width: 147px;
    background-image: url('../pics/entry_about.gif');
    background-color: #fed09e;
}
.nav:hover#nav_about {
    background-image: url('../pics/entry_about_on.gif');
}
.arrow {
    height: 40px;
    width: 650px;
}

@media (max-width: 321px) {
    .nav.banner-pic {
        height: 0px;
    }
    .nav#banner-title {
        height: 42.8;
        width: 100%;
        background-size: cover;
        background-position: left;
    }
    .nav#nav_music { 
        width: 100%;
    }
    .nav#nav_shows { 
        width: 100%;
    }
    .nav#nav_walks { 
        width: 100%;
    }
    .nav#nav_gallery { 
        width: 100%;
    }
    .nav#nav_contact { 
        width: 100%;
    }
    .nav#nav_about { 
        width: 100%;
    }
    .arrow {
        height: 0px;
        width: 0px;
        margin-bottom: 10px;
    }
}