ul, li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.title {
    font-size: 0em;
}

.title a.button {
    width: 100%;
    height: 100%;
    display: block;
}

.title#banner-pic {
    height: 127px;
    width: 650px;
}

.title#banner {
    height: 87px;
    width: 650px;
    background-image: url('../pics/header.gif');
    background-size: 100%;
}

.menu-wrapper {
    display: block;
    width: 650px;
    margin: 0em;
}

.menu {
    width: 20%;
    padding: 5px;
    margin: 0 -4px 0 0;
    position: relative;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    text-align: center;
    background-color: #f99d33;
}

li a {
    display: block;
    color: #ffffff;
    -moz-transition: text-shadow 0.5s cubic-bezier(0.41, 0.06, 0.24, 1.01), color 0.5s cubic-bezier(0.41, 0.06, 0.24, 1.01);
    -webkit-transition: text-shadow 0.5s cubic-bezier(0.41, 0.06, 0.24, 1.01), color 0.5s cubic-bezier(0.41, 0.06, 0.24, 1.01);
    transition: text-shadow 0.5s cubic-bezier(0.41, 0.06, 0.24, 1.01), color 0.5s cubic-bezier(0.41, 0.06, 0.24, 1.01);
}

li a:hover {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0px 0px 5px #ffffff;
}

.menu#music {
    background-color: #f99d33;
}

.menu#shows {
    background-color: #faa74a;
}

.menu#walks {
    background-color: #fbb161;
}

.menu#gallery {
    background-color: #fcbb75;
}

.menu#contact {
    background-color: #fdc589;
}

.menu#about {
    background-color: #fed09e;
}

.arrow {
    position: relative;
    font-size: 0em;
    width: 0; 
    height: 0; 
    border-left: 27px solid transparent;
    border-right: 27px solid transparent;
}

@media (max-width: 569px) {
    .title {
        background-size: contain;
    }
    .title#banner-pic {
        height: 0px;
    }
    .title#banner {
        height: 50px;
        width: 100%;
        background-size: cover;
        background-position: bottom left;
    }
    .title-wrapper {
        height: 172px;
        margin: 0;
        width: 100%;
    }
    .menu-wrapper {
        width: 100%;
    }
    .menu { 
        width: 100%;
    }
    .arrow {
        border-left: none;
        border-right: none;
        border-top: none !important;
    }
}