.nav#banner-pic {
    background-image: url('../pics/header_pic_gallery.jpg');
}
.press-index-gallery {
    width: 80px;
    height: 80px;
}
#press-index-main-image {
    margin: 0 70px 10px 0;
    background-image: url('../pics/1_gallery.jpg');
}
#press-index-1 {    
    margin: 0 20px 10px 0;
    background-image: url('../pics/press/t_T4Z4902.jpg');
}
#press-index-2 {    
    margin: 0 20px 10px 0;
    background-image: url('../pics/press/t_T4Z4713.jpg');
}
#press-index-3 {    
    margin: 0 20px 10px 0;
    background-image: url('../pics/press/t_T4Z4789.jpg');
}

@media (max-width: 321px){
    #press-index-main-image {
        margin: 0 0 10px 0;
        background-image: url('../pics/1_gallery-hd.jpg');
    }
}

@media  only screen and (-webkit-min-device-pixel-ratio: 1.5),  
only screen and (   min--moz-device-pixel-ratio: 1.5),  
only screen and (     -o-min-device-pixel-ratio: 3/2),  
only screen and (        min-device-pixel-ratio: 1.5),  
only screen and (min-resolution: 192dpi) {  
    #press-index-main-image {  
        background-image: url('../pics/1_gallery-hd.jpg');  
    }  
    .nav#banner-pic {
        background-image: url('../pics/header_pic_gallery-hd.jpg');
    }
}