.title#banner-pic {
    background-image: url('../pics/header_pic_shows.jpg');
}
.nav#arrow-shows {
    left:20%;
    border-top: 40px solid #f99d33;
}
#shows-main-image {
    margin: 0 130px 10px 0;
    background-image: url('../pics/1_shows.jpg');
}

@media (max-width: 569px){
    #shows-main-image {
        margin: 0 0 10px 0;
        background-image: url('../pics/1_shows-hd.jpg');
    }
}

@media  only screen and (-webkit-min-device-pixel-ratio: 1.5),  
only screen and (   min--moz-device-pixel-ratio: 1.5),  
only screen and (     -o-min-device-pixel-ratio: 3/2),  
only screen and (        min-device-pixel-ratio: 1.5),  
only screen and (min-resolution: 192dpi) {  
    #shows-main-image {
        background-image: url('../pics/1_shows-r.jpg');  
    }  
    .nav#banner-pic {
        background-image: url('../pics/header_pic_shows-hd.jpg');
    }
}