.nav#banner-pic {
    background-image: url('../pics/header_pic_shows.jpg');
}
.nav#arrow-shows {
    background-image: url('../pics/arrow_shows.gif');
    margin: 0 465px 0 121px;
}
#shows-main-image {
    margin: 0 130px 10px 0;
    background-image: url('../pics/1_shows.jpg');
}
@media (max-width: 321px){
    .nav#banner-title {
        height: 42.8px;
        width: 320px;
        background-size: 100%;
    }
    #shows-main-image {
        margin: 0 0 10px 0;
    }
}