.nav#banner-pic {
    background-image: url('../pics/header_pic_shows.jpg');
}
.nav#arrow-shows {
    background-image: url('../pics/arrow_shows.gif');
    background-position: 121px center;
}
#shows-main-image {
    margin: 0 130px 10px 0;
    background-image: url('../pics/1_shows.jpg');
}
@media (max-width: 321px){
    #shows-main-image {
        margin: 0 0 10px 0;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    background-image: url('../pics/1_shows-hd.jpg');
}