.nav#banner-pic {
    background-image: url('../pics/header_pic_walk.jpg');
}
.nav#arrow-walk {
    background-image: url('../pics/arrow_walk.gif');
    margin: 0 332px 0 264px;
}
#walk-main-image {
    margin: 0 130px 10px 0;
    background-image: url('../pics/1_walk.jpg');
}
#walk-main-image-1 {
    margin: 0 130px 10px 0;
    background-image: url('../pics/30_cry08_side.jpg');
}
@media (max-width: 321px){
    #about-main-image {
        margin: 0 0 10px 0;
    }
}