.nav#banner-pic {
    background-image: url('../pics/header_pic_walk.jpg');
}
.nav#arrow-walk {
    background-image: url('../pics/arrow_walk.png');
    background-position: 264px center;
}
#walk-main-image {
    margin: 0 130px 10px 0;
    background-image: url('../pics/1_walk.jpg');
}
#walk-main-image-1 {
    margin: 0 130px 10px 0;
    background-image: url('../pics/30_cry08_side.jpg');
}

@media (max-width: 321px){
    #walk-main-image {
        margin: 0 0 10px 0;
        background-image: url('../pics/1_walk-hd.jpg');
    }
    #walk-main-image-1 {
        height: 0;
    }
}

@media  only screen and (-webkit-min-device-pixel-ratio: 1.5),  
only screen and (   min--moz-device-pixel-ratio: 1.5),  
only screen and (     -o-min-device-pixel-ratio: 3/2),  
only screen and (        min-device-pixel-ratio: 1.5),  
only screen and (min-resolution: 192dpi) {  
    #walk-main-image {
        background-image: url('../pics/1_walk-r.jpg');  
    }  
    .nav#banner-pic {
        background-image: url('../pics/header_pic_walk-hd.jpg');
    }
    .nav#arrow-walk {
        background-image: url('../pics/arrow_walk-hd.png');
    }
}